
<div id="home-header">
 Thought Cloud.
</div>
<div class="n-links sticky">
    <%= link_to "Home", current_user %>
    <%= link_to "Register", new_user_path %>
    <%= link_to "Explore", users_path %>
    <a href="/sessions/new">Login</a>

</div>
