
<div id="big">
<h1>Welcome</h1>
<p>
  Lorem ipsum dolor sit amet, ut sit ludus putant signiferumque. At vim nobis petentium. Mea ne ignota regione abhorreant, te detraxit perfecto recusabo nam, ad vidisse nominati sea. Est aliquid mnesarchum intellegam ex, quem delenit sensibus ius ut. Te stet corpora placerat nec. Eu per clita dolorem singulis, ea duis illum everti vim.
  Rebum dicit nominavi vim ad. Ne quot semper splendide vis, salutatus persequeris vis id. An has noster nusquam insolens, usu incorrupte consequuntur et, mel eu ipsum facer mazim. Ne dicat verterem assueverit vis, an per alterum eloquentiam. No est omnes apeirian platonem, vim falli singulis temporibus ne.
</p>
<h1>About thought cloud</h1>
<p>
  Lorem ipsum dolor sit amet, ut sit ludus putant signiferumque. At vim nobis petentium. Mea ne ignota regione abhorreant, te detraxit perfecto recusabo nam, ad vidisse nominati sea. Est aliquid mnesarchum intellegam ex, quem delenit sensibus ius ut. Te stet corpora placerat nec. Eu per clita dolorem singulis, ea duis illum everti vim.
  Rebum dicit nominavi vim ad. Ne quot semper splendide vis, salutatus persequeris vis id. An has noster nusquam insolens, usu incorrupte consequuntur et, mel eu ipsum facer mazim. Ne dicat verterem assueverit vis, an per alterum eloquentiam. No est omnes apeirian platonem, vim falli singulis temporibus ne.
</p>
<h1>Create your Cloud</h1>
<%= button_to "Register", new_user_path %>

</div>
