<nav>
<div id="header">
  <div class="links">
    <a href="/" class="title">Thought Cloud</a>
    <%= link_to "Home", current_user %>
    <%= link_to "Meet", users_path %>
    <%= link_to("Journal", new_user_journal_path(current_user)) %>
    <%= link_to "Log out", logout_path, method: "delete", data: { confirm: 'Are you sure you want to log out?' } %>
  </div>
</div>
</nav>
