.titles{
    position:relative;
    width:50%;
    min-height:50px;
    height:auto;
    padding-top:30px;
    padding-left:30px;
    font:bold 30px 'Space Mono', monospace;
    line-height:22px;
    z-index:9999999;
    text-transform:lowercase;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.titles:hover {
  text-decoration: none;
}

.tiny-button {
  background: transparent !important;
  border-radius: 0 !important;
}

.plus {
  margin-left: 60px; 
}

#s-m-t-tooltip {
background:#ffffff;
border:1px solid #cfcfcf;
color:#000000;
font-family:'Source Sans Pro', sans-serif;
font-size:10px;
font-style:normal;
font-weight:normal;
letter-spacing:0px;
margin-top:20px;
padding:10px;
text-align:center;
text-decoration:none;
text-transform:uppercase;
z-index:999999999999999999999999999999999999;
}

body {
background:#f8f8f8;
color:#000000;
cursor:url(http://i.imgur.com/lhPqll6.png), progress;
font-family:'Source Sans Pro', sans-serif;
font-size:11px;
font-style:normal;
font-weight:normal;
letter-spacing:0px;
margin:0px;
text-align:justify;
text-decoration:none;
text-transform:none;
word-break:break-word;
}

a {
border-bottom:1px solid #6633bb;
color:#000000;
text-decoration:none;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
}

a:hover {
color:#cfcfcf;
}

blockquote {
border-left:1px solid #000000;
margin:5px;
padding-left:5px;
}

blockquote img {
height:auto;
max-width:200px;
}

blockquote blockquote {
border-left:1px solid #000000;
padding-left:5px;
}

ul {
padding:10px;
}

li {
list-style:none;
padding:2px 0px 1px 0px;
}

li:before {
color:#eeeeee;
content:'–––––';
letter-spacing:-3px;
padding-right:10px;
}

img {
height:auto;
max-width:100%;
}

#header {
background:#ffffff;
border-bottom:1px solid #eeeeee;
margin-top:-200px;
padding-bottom:40px;
padding-top:40px;
position:fixed;
width:100%;
z-index:1;
}

.title {
border-bottom:1px solid #6633bb;
display:inline-block;
color:#000000;
font-family:'Source Sans Pro', sans-serif;
font-size:11px;
font-style:normal;
font-weight:700;
letter-spacing:0px;
margin-left:40px;
text-decoration:none;
text-align:left;
text-transform:uppercase;
}

.links {
color:#777777;
font-family:'Source Sans Pro', sans-serif;
font-size:11px;
font-style:normal;
font-weight:normal;
letter-spacing:0px;
text-decoration:none;
text-align:left;
text-transform:uppercase;
}

.links a {
border-bottom:none;
display:inline-block;
color:#777777;
margin-bottom:5px;
margin-left:20px;
}

.links a:hover {
color:#cfcfcf;
}

#bcontainer {
margin-bottom:200px;
margin-left:auto;
margin-right:auto;
margin-top:200px;
width:810px;
}

#box {
background:#ffffff;
float:left;
width:250px;
margin:10px;
}

.aimage {
height:150px;
width:250px;
}

.aimage img {
height:150px;
width:250px;
}

.abox {
border-bottom:1px solid #eeeeee;
border-left:1px solid #eeeeee;
border-right:1px solid #eeeeee;
}

.adetails {
border-bottom:1px solid #eeeeee;
color:#000000;
font-family:'Source Sans Pro', sans-serif;
font-size:12px;
font-style:normal;
font-weight:normal;
letter-spacing:0px;
padding:10px;
text-decoration:none;
text-align:justify;
text-transform:none;
}

.acontent {
color:#000000;
font-family:'Source Sans Pro', sans-serif;
font-size:12px;
font-style:normal;
font-weight:normal;
letter-spacing:0px;
padding:10px;
text-decoration:none;
text-align:justify;
text-transform:none;
}

.ucontent {
border-left:1px solid #eeeeee;
border-right:1px solid #eeeeee;
border-top:1px solid #eeeeee;
}

.updates {
border-bottom:1px solid #eeeeee;
color:#000000;
font-family:'Source Sans Pro', sans-serif;
font-size:12px;
font-style:normal;
font-weight:normal;
letter-spacing:0px;
padding:10px;
text-decoration:none;
text-align:justify;
text-transform:none;
}

.fbox {
border-bottom:1px solid #eeeeee;
}

.fquestion {
background:#ffffff;
color:#000000;
font-family:'Source Sans Pro', sans-serif;
font-size:12px;
font-style:normal;
font-weight:700;
letter-spacing:0px;
padding:10px;
text-decoration:none;
text-align:justify;
text-transform:none;
}

.fanswer {
background:#ffffff;
color:#000000;
font-family:'Source Sans Pro', sans-serif;
font-size:12px;
font-style:normal;
font-weight:normal;
letter-spacing:0px;
padding:10px;
padding-top:0px;
text-decoration:none;
text-align:justify;
text-transform:none;
}

.abbox {
padding:10px;
padding-bottom:0px;
padding-top:0px;
}

.ntitle {
background:#ffffff;
border:1px solid #eeeeee;
color:#000000;
font-family:'Source Sans Pro', sans-serif;
font-size:12px;
font-style:normal;
font-weight:700;
letter-spacing:0px;
padding:10px;
text-decoration:none;
text-align:left;
text-transform:uppercase;
}

.nlinks {
background:#ffffff;
border-left:1px solid #eeeeee;
border-right:1px solid #eeeeee;
border-top:1px solid #eeeeee;
color:#000000;
font-family:'Source Sans Pro', sans-serif;
font-size:12px;
font-style:normal;
font-weight:normal;
letter-spacing:0px;
margin-top:10px;
text-decoration:none;
text-align:justify;
text-transform:none;
}

.nlinks a {
border-bottom:1px solid #eeeeee;
color:#000000;
display:block;
padding:10px;
}

.nlinks a:hover {
color:#cfcfcf;
}

#credit {
background:#ffffff;
border:1px solid #eeeeee;
bottom:15px;
color:#000000;
float:right;
font-family:'Open Sans', sans-serif;
font-size:10px;
font-style:normal;
font-weight:normal;
letter-spacing:0px;
padding:5px;
position:fixed;
right:15px;
text-align:justify;
text-decoration:none;
text-transform:uppercase;
}

#credit a {
border-bottom:none;
color:#000000;
}

#credit a:hover {
color:#cfcfcf;
}
